{% extends 'base.html.twig' %}
{% block title %}{{ titleBlock }}{% endblock %}

{% block body %}

        {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        <div class="form-flex">
            {{ form_row(form.employement_date) }}
            {{ form_row(form.contract_type) }}
        </div>

        {{ form_end(form) }}


{% endblock %}
